<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium">
  <test thread-count="5" name="Test">
  <classes>
  <class name="com.edureka.testngpackage.firstTestNgClass"></class>
  <class name="com.edureka.testngpackage.PriorityTestNg"></class>  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Selenium -->
